<!-- start custom header snippets, customize with your own _includes/header-custom.html file -->

<!-- add SNS information -->
<center>

    <!-- LINE -->
    <a href="https://lin.ee/2W4EVfJ"><img height="24" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>

    <!-- Youtube -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCjpybMLjLjSR1uamKy3teAw" data-layout="default" data-count="default"></div>

    <br/>

    <!-- Facebook -->
    <div class="fb-page" data-href="https://www.facebook.com/TaiwaneseEirin/" data-tabs="timeline" data-width="215" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TaiwaneseEirin/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TaiwaneseEirin/">台湾人の永琳</a></blockquote></div>

</center>

<!-- end custom header snippets -->
