<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <center>
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

          {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
          {% endif %}

          <p>{{ site.description | default: site.github.project_tagline }}</p>
          {% include support.html %}
        </center>

      </header>
      <section>

        <center> <h1> {{ page.title }} </h1> </center>

        {{ content }}

        {% if site.email or site.sns %}
          <hr>
          <center>
            <h3>Contact</h3>
        {% endif %}

          {% if site.email %}
            <a href="mailto:{{ site.email }}"><img src=icon/icons8-email-24.png></a>
          {% endif %}
          {% if site.sns.youtube %}
            <a href="{{ site.sns.youtube }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-youtube-24.png></a>
          {% endif %}
          {% if site.sns.facebook %}
            <a href="{{ site.sns.facebook }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-facebook-24.png></a>
          {% endif %}
          {% if site.sns.instagram %}
            <a href="{{ site.sns.instagram }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-instagram-24.png></a>
          {% endif %}
          {% if site.sns.twitter %}
            <a href="{{ site.sns.twitter }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-twitter-24.png></a>
          {% endif %}
          {% if site.sns.line %}
            <a href="{{ site.sns.line }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-line-24.png></a>
          {% endif %}
          {% if site.sns.plurk %}
            <a href="{{ site.sns.plurk }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-plurk-24.png></a>
          {% endif %}
          {% if site.sns.twitch %}
            <a href="{{ site.sns.twitch }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-twitch-24.png></a>
          {% endif %}
          {% if site.sns.discord %}
            <a href="{{ site.sns.discord }}" target="_blank" rel="noopener noreferrer"><img src=icon/icons8-discord-24.png></a>
          {% endif %}
        
        {% if site.email or site.sns %}
          </center>
        {% endif %}

        {% if site.copyright %}
          <hr>
          <center>
            <p><small> {{ site.copyright }} </small></p>
          </center>
        {% endif %}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
