<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <center>
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        </center>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% include header-custom.html %}

      </header>
      <section>

        <center> <h1> {{ page.title }} </h1> </center>

        {{ content }}

        {% if site.email %}
          <hr>
          <center>
            <h3>Contact</h3>
            <h4>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></h4>
          </center>
        {% endif %}

        {% if site.copyright %}
          <hr>
          <center>
            <p><small> {{ site.copyright }} </small></p>
          </center>
        {% endif %}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
