<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v14.0" nonce="jw6QEqRL"></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <a href="https://lin.ee/2W4EVfJ"><img height="24" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"></a>
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channelid="UCjpybMLjLjSR1uamKy3teAw" data-layout="default" data-count="default"></div>
        <div class="fb-page" data-href="https://www.facebook.com/TaiwaneseEirin/" data-tabs="timeline" data-width="250" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TaiwaneseEirin/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TaiwaneseEirin/">台湾人の永琳</a></blockquote></div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
